.match-item {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 5px;
  box-shadow: 0 0 5px 1px grey;
}

.match-item img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}