.button-edit {
  max-width: 35px;
  margin-right: 35px;
  margin-bottom: -65px;
}

.button-edit-container {
  display: flex;
  justify-content: flex-end;
}

.infos-container > h1,
.infos-container > h3,
.infos-container > p {
  text-align: left;
}
